html, body {
    height: 100%;
    width: 100%;
}

img{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -2;
}

#time{
    color: darkgoldenrod;
}

